.top-menu-item {
	> a {
		@apply relative;

		&::before {
			@apply content-[''] absolute bottom-0 left-0 w-0 h-[1px] bg-pale-green rounded-lg duration-300 ease-fancy;
		}
	}

	&:hover {
		@apply text-pale-green;
		> a {
			&::before {
				@apply w-full;
			}
		}
	}
}

#footer-container svg {
	@apply hidden;
}

.project-grid:has(a:hover) a:not(:hover) {
	.btn-title {
		@apply translate-y-24;
	}
}

#video-overlay.active {
	pointer-events: auto;
}

@media (max-width: 768px) {
	#close-video {
		top: 1rem;
		right: 1rem;
		width: 2.5rem;
		height: 2.5rem;
	}

	#close-video svg {
		width: 1.25rem;
		height: 1.25rem;
	}
}
