<section class="relative !py-0">
    <div class="relative">
        <div class="absolute inset-0 w-full h-full bg-gradient-to-t from-dark-blue to-dark-blue/60"></div>
        <img src="{{ get_image(block.image).src }}" alt="{{ block.image.alt }}" class="w-full object-cover h-[300px] md:h-[450px]" />
    </div>
    <div class="container flex flex-row max-sm:bg-dark-blue">
        <div class="block-content text-white w-full sm:w-fit bg-dark-blue pb-6 relative">
            {{ block.content }}
            <div class="bg-dark-blue h-[calc(100%+1px)] w-screen absolute -top-px right-[calc(100%-1px)]"></div>
            {% include "icons/banner-shape.twig" with { class: 'max-sm:hidden h-[calc(100%+1px)] text-dark-blue absolute -top-px left-[calc(100%-1px)]' } %}
        </div>
    </div>
</section>
