<section class="bg-white !pt-4 !pb-0">
    <div class="container">
        <div parallax-effect class="aspect-video rounded-2xl overflow-hidden">
            <img src="{{ get_image(block.image).src }}" alt="{{ block.image.alt }}" class="w-full h-full object-cover" />
        </div>
    </div>
</section>
