<section class="text-black">
    <div class="container flex flex-col gap-12 sm:gap-20 lg:gap-32">
        <div data-stagger="up" class="block-content 2xl:w-[90%]">
            {{ block.heading }}
        </div>
        <div data-stagger="up" class="self-end md:w-[90%] xl:w-[60%] grid grid-cols-1 sm:grid-cols-2 sm:gap-16 gap-6">
            <div class="block-content">
                {{ block.paragraph }}
            </div>
            <div class="block-content">
                {{ block.paragraph_2 }}
            </div>
        </div>
    </div>
</section>
