<section class="bg-light-blue overflow-hidden">
    <div class="container grid grid-cols-1 gap-8 lg:grid-cols-5 relative z-20">
        <div class="cols-span-1 lg:col-span-2 flex flex-col lg:pt-[25%] text-black *:!leading-none [&>p]:pt-8 [&>p]:!leading-relaxed">
            {{ block.content }}
        </div>
        <div class="cols-span-1 lg:col-span-3 team-swiper flex flex-col gap-8">
            <div class="swiper !overflow-visible w-full">
                <div class="swiper-wrapper">
                    {% for team_member in fn('get_team_posts') %}
                        <div class="swiper-slide">
                            {% include "partials/teases/team-tease.twig" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex flex-row gap-4 self-end text-white">
                <button class="prev bg-dark-blue size-12 rounded-lg flex justify-center items-center border-dark-blue border duration-300 hover:bg-white ease-fancy hover:text-dark-blue active:scale-90">
                    {% include "icons/prev-arrow.twig" with { class: "size-4" } %}
                </button>
                <button class="next bg-dark-blue size-12 rounded-lg flex justify-center items-center border-dark-blue border duration-300 hover:bg-white ease-fancy hover:text-dark-blue active:scale-90">
                    {% include "icons/next-arrow.twig" with { class: "size-4" } %}
                </button>
            </div>
        </div>
    </div>
</section>
