<section class="bg-white min-h-lvh flex items-center">
    <div class="container flex flex-col items-center text-center gap-12">
        <div class="block-content no-space !gap-0">
            {{ block.heading }}
        </div>
        <div class="block-content no-space max-w-[900px]">
            {{ block.content }}
        </div>
    </div>
</section>
