<section class="bg-white !pt-4 !pb-0">
    <div class="container grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div parallax-effect class="aspect-[4/5] rounded-2xl overflow-hidden">
            <img src="{{ get_image(block.image_1).src }}" alt="{{ block.image_1.alt }}" class=" w-full h-full object-cover" />
        </div>
        <div parallax-effect class="aspect-[4/5] rounded-2xl overflow-hidden">
            <img src="{{ get_image(block.image_2).src }}" alt="{{ block.image_2.alt }}" class="w-full h-full object-cover" />
        </div>
    </div>
</section>
