<div class="overflow-hidden {{ class }} pointer-events-none">
	<div data-scrolling-text class="w-[150%]" style="transition: all 0.3s ease;">
		<div class="relative flex items-center gap-1" aria-hidden="true" ref="inner">
			{% for item in 0..20 %}
				<div class="scrolling-text flex flex-shrink-0 items-center text-lg md:text-2xl *:font-semibold *:uppercase">
					Scrolling Text
				</div>
			{% endfor %}
		</div>
	</div>
</div>
