<div class="relative aspect-16/9 w-full max-h-[800px] bg-white pointer-events-none">
	<img src="{{ block.image.url }}"
		alt="{{ block.image.alt }}"
		class="absolute top-0 left-0 w-full h-full object-cover object-center pointer-events-none" />
</div>
