<a href="{{ link }}" class="text-white border-white/20 border bg-white/10 flex flex-row gap-4 p-1 pr-4 items-center rounded-[12px] text-lg relative group overflow-hidden {{ class }}">
    <div class=" flex flex-col items-center justify-center size-11 rounded-lg relative z-10 ease-fancy duration-300 translate-x-0 group-hover:-translate-x-11">
        {% include "icons/phone.twig" with { class: "size-4"  } %}
    </div>

    <div class="bg-green flex flex-col items-center justify-center size-11 rounded-lg absolute left-1 top-1 ease-fancy duration-300 group-hover:left-0 group-hover:top-0 group-hover:w-full group-hover:h-full group-hover:rounded-[11px] "></div>
    <span class="relative z-10 ease-fancy duration-300 group-hover:-translate-x-12">
        {{ title }}
    </span>
    <div class="bg-white flex flex-col items-center justify-center size-11 rounded-lg z-10 ease-fancy duration-300 translate-x-12 group-hover:translate-x-0 absolute top-1 right-1">
        {% include "icons/phone.twig" with { class: "size-4 text-green"  } %}
    </div>
</a>
