@import 'tailwindcss';

@theme {
	--font-heading: 'Roboto', 'sans-serif';
	--font-body: 'Inter', 'sans-serif';

	--color-white: #FFF;
	--color-black: #000;
	/* Extend with your own colors eg. */
	/* --color-gray-100: #F7F7F7; */
	/* --color-gray-200: #F9F9F9; */

	--breakpoint-*: initial;
	--breakpoint-mini: 48rem;      /* 768px */
	--breakpoint-tablet: 64rem;    /* 1024px */
	--breakpoint-laptop: 80rem;    /* 1280px */
	--breakpoint-desktop: 100rem;  /* 1600px */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './typography.css' layer(utilities);
@import './animations.css' layer(utilities);
@import './buttons.css' layer(utilities);
@import './sliders.css' layer(utilities);
@import './accordion.css' layer(utilities);
@import './forms.css' layer(utilities);

@utility container {
  @apply max-w-[1600px] w-full px-6 mini:px-8 mx-auto;
}

header {
	&.header-scrolling {
		@apply bg-slate-100;
	}
}

body.menu-open {
	[data-menu] {
		@apply translate-x-0;
	}
}

[data-menu] {
	@apply translate-x-full;
}

main {
	section {
		@apply relative py-10 laptop:py-20 desktop:py-32;
	}
}

.rounded-top {
	@apply rounded-t-3xl laptop:rounded-t-[100px] desktop:rounded-t-[200px];
}

.rounded-bottom {
	@apply rounded-b-3xl laptop:rounded-b-[100px] desktop:rounded-b-[200px];
}

.section-padding {
	@apply relative py-10 laptop:py-20 desktop:py-32;
}

.section-padding-top {
	@apply relative pt-10 laptop:pt-20 desktop:pt-32;
}

.section-padding-bottom {
	@apply relative pb-10 laptop:pb-20 desktop:pb-32;
}

.remove-section-padding {
	@apply py-0!;
}

.banner {
	@apply relative pt-24! pt-44! desktop:pt-52!;
}

/* REMOVE LOOM EXTENSION PADDING */
section#shadow-host-companion {
	@apply py-0!;
}
