{% extends 'base.twig' %}

{% block content %}
    {# Block #1 #}
        <div class="relative pb-12">
            {% include 'patterns/topo-one.twig' with {
                class: 'absolute left-0 top-0 rotate-45 -translate-x-1/2'
            } %}

            <section class="text-amber container h-full flex flex-col gap-6 xl:flex-row xl:gap-0">
                <div data-animate class="flex flex-col gap-6 xl:mt-48 xl:gap-12">
                    <h1 class="xl:translate-x-64">
                        Reimagining<br />energy
                    </h1>
                    <p class="text-xl xl:text-3xl xl:pl-16 xl:ml-16 xl:max-w-3xl">
                        H2EX is a world leader in exploring for naturally occurring hydrogen, manufactured by Mother Nature.
                    </p>
                </div>
                <div class="relative -z-10 flex flex-col gap-4">
                    <img class="max-sm:w-2/3 max-sm:mx-auto"
                        src="http://h2ex.test/wp-content/uploads/2022/11/h2ex-homepage-hero.png"
                        alt="" />
                    {% include 'icons/small-dots.twig' with {
                        class: 'xl:w-[125%] xl:-translate-x-[20%]'
                    } %}
                </div>
            </section>
        </div>
    {# End Block #1 #}

    <section class="container grid gap-6 xl:grid-cols-2 xl:gap-16 xl:py-48 2xl:gap-24">
        <div class="relative">
            {% include "icons/key-dots.twig" with { class: "absolute z-10 top-1/2 -left-10 -translate-y-1/2 w-[90%]" } %}
            <img class="aspect-square" src="http://h2ex.test/wp-content/uploads/2022/11/subtraction.png" alt="" />
        </div>

        <div class="flex flex-col items-start justify-center gap-6 xl:w-3/4 xl:gap-8 2xl:gap-12">
            <h2 data-animate class="text-amber">Natural Hydrogen is the holy grail of renewable energy</h2>
            <p data-animate>An emissions free energy source produced organically by Mother Nature at a low-cost. Sources of naturally occurring hydrogen have been identified in South Australia where H2EX has an exploration license and other prospective acreage. We are at the forefront of exploration activities and techniques.</p>
            {% include "partial/button.twig" with {
                title: 'Learn more',
                href: '#'
            } %}
        </div>
    </section>

{% endblock %}
